/* Custom color theme properties */
:root {
  --f7-theme-color: #304763;
  --f7-theme-color-rgb: 48, 71, 99;
  --f7-theme-color-shade: #233348;
  --f7-theme-color-tint: #3d5b7e;
}

/*** Custom styles ***/

/* Header, Intro */
.title-large, .intro-div {
  text-align: center;
}

.intro-text {
  max-width: 550px;
  display: inline-block;
  padding-bottom: 25px;
}

/* Arena / Grid World */
#arena-grid, #analysis, #legend {
  margin: 0 auto;
}

#arena-grid {
  max-width: 600px;
  float: left;
}

#analysis, #legend {
  margin-top: 20px;
}

#analysis table, #legend {
  margin: 0 auto;
}

td {
  height: 25px;
  width: 25px;
  display: table-cell !important;
}

.plain-field {
  background-color: #73A790;
}

.mountain-field {
  background-color: #F0EEE3;
}

.package-field {
  background-color: #D7B17C;
}

.target-field {
  background-color: #D7B17C;
}

.repair-field {
  background-color: #EABAB9;
}

/* Controls */
.controls {
  padding-top: 20px;
  padding-bottom: 50px;
  visibility: hidden;
}

.controls .button {
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.material-icons.money::before{
  content: "monetization_on";
}

.material-icons.build::before{
  content: "build"; 
}

.material-icons.mountain::before{
  content: "keyboard_arrow_up";
}

.material-icons.robot::before{
  content: "android";
}

.material-icons.drone::before{
  content: "airplanemode_active";
}

.material-icons.package::before{
  content: "card_giftcard";
}

.material-icons.charger::before{
  content: "local_gas_station";
}

.material-icons.target::before{
  content: "location_city";
}

.field-annotation {
  color: red;
  position: absolute;
  font-family: initial;
  margin-top: -30px;
  margin-left: -5px;
  font-weight: bold;
}

table.bdi td {
  width: 120px;
  display: inline-block;
  padding-left: 10px;
}

.noty_effects_open {
  opacity: 0;
  transform: translate(50%);
  animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.noty_effects_close {
  animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes noty_anim_in {
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes noty_anim_out {
  100% {
    transform: translate(50%);
    opacity: 0;
  }
}

.toast {
  margin-right: 250px !important;
  color: #000 !important;
}

.toast-warning {
  background-color:#D7B17C;
}

.toast-info {
  background-color:#73A790;
}

select {
  background-color: #304763;
  padding: 10px;
  color: #FFF;
  cursor: pointer;
}